    <?xml version="1.0" encoding="UTF-8" ?>
	<widget xmlns = "http://www.w3.org/ns/widgets"		 
		 xmlns:gap = "http://phonegap.com/ns/1.0"
		 id = "com.bingo-boom.lk"
		 version = "1.0" >
    
		<name>Aztec Gold</name>		
		<description>
			Bingo-Boom Aztec Gold
		</description>		
		<author href="http://bingo-boom.ru/" email="harut@bingo-boom.ru">
			Bingo Boom
		</author>
		
		<preference name="phonegap-version" value="3.5.0" />
		<preference name="orientation" value="landscape" />
		<preference name="fullscreen" value="true" />
		<preference name="DisallowOverscroll" value="true"/>
		
		<gap:platform name="ios" />
		<gap:plugin name="org.apache.cordova.device" />
		<gap:plugin name="org.apache.cordova.dialogs" />
		<gap:plugin name="org.apache.cordova.console" version="0.2.7" />
		<gap:plugin name="org.apache.cordova.contacts" version="0.2.9" />
		<gap:plugin name="org.apache.cordova.network-information" version="0.2.7" />
		<gap:plugin name="org.apache.cordova.inappbrowser" version="0.2.4" />
		<gap:plugin name="com.phonegap.plugin.statusbar" />
		<gap:plugin name="com.phonegap.plugins.barcodescanner" version="1.1.0" />
		<gap:config-file platform="ios" parent="UIStatusBarHidden">
			<true/>
		</gap:config-file>
		<gap:config-file platform="ios" parent="UIViewControllerBasedStatusBarAppearance">
			<false/>
		</gap:config-file>
		<preference name="StatusBarOverlaysWebView" value="true" />

		<access origin="http://api.bingo-boom.net" subdomains="true" />
		<access origin="http://bingo-boom.ru" subdomains="true" />
		<access origin="http://korasdor.com" subdomains="true" />
		<access origin="http://ios.web12.ru" subdomains="true" />
		</widget>